{%- render 'cart-drawer' -%}
{% comment %}
  {% if cart.subtotal_price > 0 %}
    <a href="{{ cart.attributes.express_checkout_url }}" class="btn btn--secondary btn--small btn--fluid">Express Checkout</a>
  {% endif %}
{% endcomment %}
